@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row align-items-center justify-content-md-center h-p100">
    <div class="col-lg-4 col-md-8 col-12">
        <div class="login-box">

            <div class="login-box-body pb-20">
                <div style="margin-left:35%;">
                    <img src="~/images/logo-light.png" alt="logo" class="light-logo">
                </div>
                <p class="login-box-msg text-uppercase">Réinitialiser votre mot de passe</p>
                @using (Html.BeginForm("ResetPassword", "admin", null, FormMethod.Post, new { id = "form-recover-password", novalidate= "novalidate" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" name="uid" value="@ViewBag.uid" />
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" data-validation-required-message="Vous devez renseigner ce champ" placeholder="Nouveau motde passe" name="password" required>
                        <span class="ion ion-email form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="password" class="form-control" data-validation-match-match="password" data-validation-required-message="Vos mots de passe ne sont pas identique" placeholder="Confirmer mot de passe" name="cpassword" required>
                        <span class="ion ion-key form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-info btn-block text-uppercase">ENREGISTRER</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </div>
            <!-- /.login-box-body -->
        </div>
        <!-- /.login-box -->

    </div>
</div>

