@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-body">

            </div>
        </div>
    </div>
</section>

